<div>
    <div class="offset-4">
        <h1>Регистрация пользователя</h1>
        <div class="col-4 offset-1">
            <div class="form-group">
                <br>
                <label>Адрес электронной почты</label>
                <input type="email" [(ngModel)]="createdUser.email" class="form-control" #email="ngModel" required/>
                <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                    Не указан адрес электронной почты
                </div>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" [(ngModel)]="createdUser.password" class="form-control" #password="ngModel" required />
                <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
                    Не указан пароль
                </div>
            </div>            
            <br>
            <br>
            <div class="row">
                <input type="button" routerLink="registerComplite" [disabled]="email.invalid || password.invalid" value="Зарегистрироваться" (click)="createUser()"  class="btn btn-success" />
                <input type="button" routerLink="../" value="Отмена"  class="btn btn-warning offset-1" />
            </div>
        </div>
    </div>
</div>